body{
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
    text-align: center;
    padding: 20px;
    overflow: hidden;
}
#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
}
.container{
    background-color: rgba(128, 128, 128, 0.158);
    padding:30px ;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(0,0,0,0.2);
    max-width: 400px;
    margin: 0 auto;
    border: 5px dotted pink;
    word-spacing: 5px;
    font-size: 20px;
}
h1{
    color: #ff1493;
    font-size: 2em;
    padding: 0 0  10px;
}
.bow{
    font-size: 50px;
}
